.hidden {
    display:none;
}   

main {
    min-height: 100vh;
}
main .main-nav {
    background: $blue;
    position: sticky;
    top:0px;
}

main .main-nav .wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin:0 auto;
    .logo {
        flex-grow: 1;
        text-align:right;

    }
}


.logo {
    color: white;
    font-family: $primaryFont;
    display: inline-block;
    font-size: 25px;
    margin: 0;
}

.searchSettings {
   margin: 0 auto;
   background: $blue;
   h3 {
       margin:0;
       padding: 10px 0;
   }
}

main input[type = submit] {
    background:$red;
    &:hover {
        background: lighten($color: $red, $amount: 10);
    }
}

main {
    background: $grey;
}

main .wrapper {
    margin: 0 auto;
}

.advancedButton {
    padding: 11px 25px;
    // background: $red;
}

