// font-family: 'Yeseva One', cursive;

$bodyFont : 'Cabin', sans-serif;

$primaryFont : 'Yeseva One', cursive;

h1 {
    font-family: $primaryFont;
    font-size: 150px;
    margin:0;
}

main, header {
    font-family: $bodyFont;
}

